.container {
    margin: 0 auto;
    max-width: 1280px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image {
    padding: 20px 0 20px;
    width: 50%;
}

.nameHolder {

    border-bottom: 1px solid #d8d8d8;
    margin: 0 0 25px;
    padding: 20px 0 18px;
    text-align: center;
}

.text1 {
    font: normal normal 14px/1.2 Source Sans Pro,sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.text2 {
    font: normal normal 40px/1.2 Source Sans Pro,sans-serif;
    font-weight: 300;
    padding-bottom: 15px;
    text-transform: none;
}

.price {
    font-size: 24px;
    padding-bottom: 15px;
}

.productOptions {
    padding: 29px 0 20px;
}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .image {
        width: 100%;
    }
}